<h1>
  Player: <%= @game.player_1.name %> - hit points:  <%= @game.player_1.hp %>  Player: <%= @game.player_2.name %> - hit points: <%= @game.player_2.hp %>
</h1>

<form action='/attack' method='get'>
  <input type='submit' name='attack' value='Attack'>
</form>

  <%= @game.player_1.name %> attacked <%= @game.player_2.name %>.
</h1>
